<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsd.dao.PermissionInfoDao">
    <resultMap id="permissionMap" type="com.fsd.bean.PermissionInfo">
		<id property="mId" column="m_id"/>
		<result property="mName" column="m_name"/>
		<result property="permissionUrl" column="permission_url"/>
		<result property="method" column="method"/>
		<result property="description" column="description"/>

    </resultMap>

    <sql id="queryCondition">
        <where>
			<if test="mId != null and mId != ''">
				and m_id = #{mId}
			</if>
			<if test="mName != null and mName != ''">
				and m_name = #{mName}
			</if>
			<if test="permissionUrl != null and permissionUrl != ''">
				and permission_url = #{permissionUrl}
			</if>
			<if test="method != null and method != ''">
				and method = #{method}
			</if>
			<if test="description != null and description != ''">
				and description = #{description}
			</if>

        </where>
    </sql>

    <select id="getByMap" parameterType="map" resultMap="permissionMap">
    	SELECT * FROM permission_info
		<include refid="queryCondition" />
    </select>

    <select id="getById" parameterType="int" resultMap="permissionMap">
    	SELECT * FROM permission_info WHERE m_id =#{mId}
    </select>

	<select id="getList"  resultMap="permissionMap">
		SELECT * from permission_info
	</select>

	<select id="getByUserId" parameterType="int" resultMap="permissionMap">
		select p.*
		from user u
		LEFT JOIN user_role ur on u.m_id = ur.user_id
		LEFT JOIN role r on ur.role_id=r.m_id
		LEFT JOIN role_permission rp on rp.role_id=r.m_id
		LEFT JOIN permission_info p on p.m_id =rp.permission_id
		where u.m_id=#{userId}
	</select>

	<insert id="create" parameterType="com.fsd.bean.PermissionInfo">
        <selectKey resultType="int"  order="AFTER" keyProperty="m_id" >
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO permission_info(
			m_id,
			name,
			permission_url,
		    method,
			description
		)VALUES(
			#{mId},
			#{name},
			#{permissionUrl},
		    #{method},
			#{description}
		)
    </insert>

    <update id="update" parameterType="com.fsd.bean.PermissionInfo">
		UPDATE permission_info SET
			name = #{name},
			permission_url = #{permissionUrl},
			method = #{method},
			description = #{description}
		WHERE m_id = #{mId}
    </update>

    <delete id="delete" parameterType="int">
    	DELETE FROM permission_info WHERE m_id = #{mId}
    </delete>

</mapper>