<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>index</title>
<script type="text/javascript" th:src="@{js/vue.js}"></script>
<style>
ul.menu {
	height: 58px;
	background: #1a1a1a;
	margin-bottom: 0px;
	margin-top: 0px;
	list-style: none;
}

ul.menu li {
	display: inline-block;
	font-size: 14px;
	line-height: 58px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
</style>
</head>
<body>
	<!-- 	<h1>index</h1> -->

	<!-- 	<form th:action="@{/logout}" method="post"> -->
	<!-- 		<input type="submit" value="注销"/> -->
	<!-- 	</form> -->
	<header>
		<ul class="menu">
			<li class="menuHome"><a href="index">首页</a></li>
			<li class="menuUserList"><a href="user/userList">用户列表</a></li>
			<li class="menuUserAdd"><a href="user/userAdd">增加用户</a></li>
			<li class="menuUserDel"><a href="user/userDel">删除用户</a></li>
			<li class="menuRoleInfo"><a href="role/list">角色列表</a></li>
			<li class="menuPermissionInfo"><a href="permission/list">权限列表</a></li>
			<li class="menuUserLogout"><a href="logout">注销用户</a></li>
		</ul>
	</header>
<!-- 	<span shiro:authenticated="true"> -->
<!-- 		<span>欢迎您：<span th:text="${msg}"></span></span> -->
<!-- 	</span> -->

</body>
</html>