<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8" />
<title>UserInfo</title>
<script type="text/javascript" th:src="@{../js/jquery-3.3.1.js}"></script>
</head>
<body>
	<header>
		<ul class="menu">
			<li class="menuHome"><a href="../index">首页</a></li>
		</ul>
	</header>
	<table border="1" cellspacing="0">
		<tr>
			<td>角色名</td>
			<td>是否可用</td>
			<td>描述</td>
			
			<td>角色 -- 权限</td>
			<td>用户 -- 角色</td>
			<td>操作</td>
			
		</tr>
		<tr th:each="sysRole : ${sysRoles}">
			<td th:text="${sysRole.role}"></td>
			<td th:text="${sysRole.available}"></td>
			<td th:text="${sysRole.description}"></td>
			
			<td>
				<ul th:each="permission : ${sysRole.permissions}">
					<li th:text="${permission.name}"></li>
				</ul>
			</td>
			<td>
				<ul th:each="userInfo : ${sysRole.userInfo}">
					<li th:text="${userInfo.username}"></li>
				</ul>
			</td>
			
			<td>
				<button class="but-del" th:index="${sysRole.role}">删除</button>
				<button class="but-modify" th:index="${sysRole.role}">修改</button>
			</td>
		</tr>
	</table>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".but-modify").click(function() {
				alert("modify");
				
			});
			$(".but-del").click(function() {
				$.ajax({
					type: "POST",
					url : "userDel",
					data : $(".but-modify").attr("index"),
					success : function(){
						alert("success");
					},
					error : function(){
						alert("error");
					}
				});
			});
		});
	</script>
</body>
</html>