<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8" />
<title>Add</title>
</head>
<body>
	<header>
		<ul class="menu">
			<li class="menuHome"><a href="/index">首页</a></li>
		</ul>
	</header>
	<form action="#" th:action="@{userAdd}" th:object="${sysUser}"
		method="post">
		<ul>
			<li>用户名：<input type="text" th:field="*{username}"></input>
			</li>
			<li>姓名：<input type="text" th:field="*{name}"></input>
			</li>
			<li>密码：<input type="password" th:field="*{password}"></input>
			</li>
			<li>状态： <input type="text" th:field="*{state}" th:value="0"></input>
			</li>
			<li><input type="submit" value="添加用户"></input></li>
		</ul>
	</form>
</body>
</html>