<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta content="text/html;charset=UTF-8"/>
<link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.css}" />
<style type="text/css">
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
</style>
</head>
<body>
	<a href="/index" class = "btn btn-primary">登录</a>
	<th:a src="authenticated.html" class = "btn btn-primary">已身份认证</th:a>
	<th:a src="role" class = "btn btn-primary">权限</th:a>
	<th:a src="permission.html" class = "btn btn-primary">权限授权</th:a>
	
</body>
</html>